body {
  background-color: black;
 font-family:Arial, Helvetica, sans-serif;
 color:#ffffff
}
 
.header-logo{
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px;
  letter-spacing: 10px;
  text-align: center;
}
.works-text {
  display: inline-block;
  margin-left: 40px; /* 任意で調整可能 */
  letter-spacing: 10px;
}
ul{
  font-size: 25px;
}
li{
  list-style: none;
}
.contact-form{
  padding-top: 20px;
  padding-left: 40px;
}
form{
  font-size:25px;
}

.top-wrapper{
  padding: 200px 0 200px 0;
  background-image:url(https://github.com/hachi1971/shop/blob/main/bottle.PNG?raw=true);
  background-size:cover;
}
.container h1{
  color:#ffffff;
  margin: 30px 50px 0 50px;
  letter-spacing: 10px;
}
.contact-submit{
  color: #ffffff;
  font-size:20px;
}

a{
  color:#ffffff;
}
.contact-submit{
  color:black
}
.parent {
  position: relative;
  float: left;
  width: 25%;
}

.parent img {
  display: block; /* インライン要素の余白対策 */
  width: 100%;     /* 親要素にフィット */
  height: auto;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  white-space: nowrap; /* 改行防止 */
}
